---
import Card from '../components/Card.astro';
import Plan from '../components/Plan.astro';
import GradientTitle from '../components/GradientTitle.astro';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Lingo Cards: Your Simple Path to Word Mastery">
  <main class="flex flex-col relative items-center justify-center gap-12 md:gap-20 text-gray-700">
    <div class="fixed w-screen h-screen top-0 -z-10 opacity-50 bg-[url('/bg.webp')] bg-cover"></div>
    <section class="w-full flex flex-col md:flex-row items-center justify-center mt-4 px-4 md:mt-12 md:px-12">
      <div class="md:w-1/2 text-center md:text-left">
        <GradientTitle>
          <h2>Welcome to <strong class="">Lingo Cards</strong>: Your Simple Path to Word Mastery!</h2>
        </GradientTitle>
        <p class="mt-4 text-sm md:text-lg">
          Unlock the world of words effortlessly with <strong class="">Lingo Cards</strong> – the app designed with a single
          purpose in mind: making word learning simple, engaging, and effective. <span class="hidden md:inline"
            >Whether you're a language enthusiast, a student, or someone keen on expanding your vocabulary, <strong
              class="">Lingo Cards</strong
            > is your go-to companion for hassle-free learning.</span
          >
        </p>
      </div>
      <div class="md:w-1/2">
        <div class="w-[40%] relative mx-auto my-6 aspect-[30/61]">
          <img
            alt="upsert screen from the app"
            class="absolute w-full object-cover -translate-x-20 border-purple-700/60 border-2 rounded-md shadow-md top-0 rotate-12 h-full"
            src="/upsert-white.webp"
          />
          <img
            alt="cards screen from the app"
            class="w-full h-full translate-x-20 object-cover rounded-md shadow-xl -rotate-3 border-blue-800/70 border-2"
            src="/cards-black.webp"
          />
        </div>
      </div>
    </section>
    <section
      class="px-4 md:px-12 flex sm:grid sm:grid-cols-2 md:grid-cols-3 gap-8 overflow-auto w-screen pb-4 max-sm:-mb-4 justify-items-center"
    >
      <Card title="Simplicity at Its Best" class="border-blue-600/20 border" titleClass="bg-blue-600">
        <p>
          Experience the power of simplicity in learning. We've crafted <strong>Lingo Cards</strong> with a clean design
          and intuitive features, ensuring a straightforward and enjoyable learning journey. Focus on mastering words without
          unnecessary complexity.
        </p>
      </Card>
      <Card title="Enhanced User Experience" class="border-yellow-700/20 border" titleClass="bg-yellow-700">
        <p>
          Discover the joy of learning with small yet impactful features that elevate your experience. From seamless
          navigation to clever usability enhancements, <strong>Lingo Cards</strong> takes every step to make your learning
          sessions both efficient and enjoyable.
        </p>
      </Card>
      <Card title="Web-Based & Installable" class="border-pink-700/20 border" titleClass="bg-pink-700">
        <p>
          Experience <strong>Lingo-Cards</strong> as a sleek web page for instant access. Need more? Install it with just
          a tap for a native app feel. Our web-first approach ensures effortless learning, with a mere 2MB footprint for
          optimal space efficiency.
        </p>
      </Card>
      <Card title="AI-Backed Learning" class="border-fuchsia-800/20 border" titleClass="bg-fuchsia-700">
        <p>
          Immerse yourself in a smarter learning experience with AI-backed features. Our intelligent algorithms are
          continuously evolving to enhance your enjoyment and effectiveness in acquiring new words. Stay tuned for
          exciting AI-driven updates!
        </p>
      </Card>
      <Card title="Sync Across All Devices" class="border-violet-600/20 border" titleClass="bg-violet-600">
        <p>
          Break free from device constraints. <strong>Lingo Cards</strong> seamlessly syncs your learning data across all
          your devices. Add new words on your tablet, review them on your phone – your learning journey stays with you wherever
          you go.
        </p>
      </Card>
      <Card title="Offline Learning" class="border-cyan-700/20 border" titleClass="bg-cyan-700">
        <p>
          Take your learning journey to new heights, even when the internet is out of reach. With <strong
            >Lingo Cards</strong
          >, enjoy the freedom to access your vocabulary flashcards anytime, anywhere, without the need for an internet
          connection.
        </p>
      </Card>
    </section>
    <section class="w-full px-0">
      <GradientTitle>
        <h2 class="px-4 md:px-12 text-center mb-4">
          Ready to embark on your word mastery adventure? Watch our "How it Works" video<span class="hidden md:inline">
            to see <strong>Lingo Cards</strong> in action, and let the journey begin!</span
          >
        </h2>
      </GradientTitle>
      <div class="aspect-[16/9]">
        <iframe
          allow="fullscreen;"
          width="100%"
          height="100%"
          title=`"How it Works" video to see Lingo Cards in action`
          src=`https://www.youtube.com/embed/${import.meta.env.PUBLIC_YOUTUBE_CODE}`></iframe>
      </div>
    </section>
    <section class="flex flex-wrap gap-4 md:gap-8 w-full justify-center">
      <Plan
        title="Free Plan"
        subTitle="Standard Learning"
        price={0}
        bulletPoints={[
          { label: 'Access to Basic Features' },
          { label: 'Clean and Simple Interface' },
          { label: 'No Data Syncing', isNegative: true },
          { label: 'No Translation Suggestions', isNegative: true },
          { label: 'No AI Enhancements', isNegative: true },
        ]}
      />
      <Plan
        title="Basic Plan"
        subTitle="Enhanced Learning"
        price={0}
        crossedPrice={1}
        bulletPoints={[
          { label: 'AI Enhancements' },
          { label: 'Cross-Device Syncing' },
          { label: 'Translation Suggestions' },
          { label: 'Advanced Features Limited', isNegative: true },
        ]}
      />
    </section>
    <section class="w-full text-center py-4 md:py-12 px-4 md:px-12 bg-blue-100/60">
      <GradientTitle><h2 class="mb-4">Ready to Get Started?</h2></GradientTitle>
      <a
        href={import.meta.env.PUBLIC_APP_URL}
        class="bg-gradient-to-r mx-auto hover:scale-105 transition justify-center block w-fit from-blue-700 to-pink-700 text-white rounded-md py-4 px-12 hover:shadow-lg hover:cursor-pointer font-bold"
        >Try it now</a
      >
    </section>
  </main>
</RootLayout>
