<footer
  class="w-full py-2 flex items-center justify-center gap-4 px-4 text-center md:gap-6 md:px-12 lg:gap-8 max-w-screen-xl mx-auto xl:gap-10"
>
  <div class="space-y-1">
    <a aria-label="Logo link to home page" href="/">
      <img alt="Lingo Cards logo" src="/logo-no-bg.webp" class="h-16 aspect-square object-contain" />
    </a>
  </div>
  <div class="grid gap-1 text-sm sm:flex sm:gap-4 md:text-base">
    <a href="mailto:lingo-cards-ar@gmail.com" class="text-slate-700">lingo-cards-ar@gmail.com</a>
  </div>
  <div class="flex items-center space-x-4 ml-auto">
    <a
      class="flex whitespace-nowrap items-center space-x-2 text-base underline underline-offset-2 underline-offset-2-offset transition-colors text-slate-800 hover:text-slate-900"
      href="/privacy-policy"
    >
      Privacy Policy
    </a>
  </div>
</footer>
