---
import Footer from '../components/Footer.astro'
import Analytics from '@vercel/analytics/astro'

const { title } = Astro.props;
const measureId = import.meta.env.PUBLIC_GOOGLE_MEASUREMENT_ID;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Unlock the world of words effortlessly with Lingo-Cards – the app designed for simple, engaging, and effective word learning.">
    <meta name="keywords" content="Lingo-Cards, word learning, flashcards, language learning, vocabulary, AI-backed learning, education app">
    <meta name="author" content="Anton Rochniak">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.yourlandingpage.com">
    <meta property="og:title" content="Lingo-Cards: Your Simple Path to Word Mastery">
    <meta property="og:description" content="Unlock the world of words effortlessly with Lingo-Cards – the app designed for simple, engaging, and effective word learning.">
    <meta property="og:image" content="https://www.yourlandingpage.com/og-image.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.yourlandingpage.com">
    <meta property="twitter:title" content="Lingo-Cards: Your Simple Path to Word Mastery">
    <meta property="twitter:description" content="Unlock the world of words effortlessly with Lingo-Cards – the app designed for simple, engaging, and effective word learning.">
    <meta property="twitter:image" content="https://www.yourlandingpage.com/twitter-image.jpg">
    <meta name="google-site-verification" content={googleSiteVerification} />
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Preconnect to YouTube -->
    <link rel="preconnect" href="https://www.youtube.com">

    <!-- Preconnect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    
    <title>{title}</title>
</head>
<!-- Google tag (gtag.js) -->
<script is:inline async src=`https://www.googletagmanager.com/gtag/js?id=${measureId}`></script>
<script is:inline define:vars={{ measureId }}>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push();}
  gtag('js', new Date());

  gtag('config', measureId);
</script>
<body>
    <slot />
    <Footer />
    <Analytics />
</body>
</html>